html {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article-title-one {
    font-family: Oswald;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
    max-width: 596px;
}


.article-text {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    margin-bottom: 20px;
}

.article-mb {
    margin-bottom: 80px;
}

.image {
    margin: 0px auto 80px;
    width: 1220px;
    height: 512px;
}

.article-title-two {
    font-family: Oswald;
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
    max-width: 596px;
}

.article-list {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    margin-top: 0;
    padding-left: 14px;
}

.article-item {
    margin-bottom: 12px;
}

.video {
    width: 1220px;
    height: 686px;
    margin-bottom: 40px;
}