table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td, caption {
    border: 1px solid #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th, td {
    padding: 1px 3px 1px
}

caption {
    border-bottom: none;
    font-weight: 700;
    padding: 2px 0 2px;
}

.red {
    color: #f00;
}