* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


.header {
	background-color: #f00;
	min-height: 100px;
    grid-column: 1 / 12 span;
}

.aside {
    grid-column: 1 / 2 span;
	background-color: #e2e20d;
}

.main, .container {
    grid-column: 3 / 12 span;
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	background-color: #0b2fe2;
	min-height: 250px;
    grid-column: 1 / 12 span;
}

@media (width <= 1200px) {

}

@media (width <=756px) {

}