/* Документ
 * ========================================================================== */

/**
 * 1. Исправьте высоту строки во всех браузерах. 
 * 2. Не допускайте изменения размера шрифта после смены ориентации в
 * IE на Windows Phone и в iOS. 
 */

html {
 line-height: 1.15; /* 1 */
 -ms-text-size-adjust: 100%; /* 2 */
 -webkit-text-size-adjust: 100%; /* 2 */
}

/* Разделы
 * ========================================================================== */

/**
 * Корректируем размер шрифта и поля для элементов `h1` в контекстах `section` и
 * `article` в Chrome, Edge, Firefox и Safari.
 */

h1 {
 font-size: 2em;
 margin: 0.67em 0;
}

/* Группировка содержимого
 * ========================================================================== */

/**
 * Удалите поля во вложенных списках в Chrome, Edge, IE и Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
 margin: 0;
}

/**
 * Удалите поля во вложенных списках в Edge 18 и IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
 margin: 0;
}

/**
 * 1. Добавьте правильное отображение размеров блоков в Firefox.
 * 2. Исправьте наследование цвета границы в Firefox.
 * 3. Отобразите переполнение в Edge 18 и IE.
 */

hr {
 box-sizing: content-box; /* 1 */
 color: inherit; /* 2 */
 height: 0; /* 1 */
 overflow: visible; /* 3 */
}

/**
 * Добавьте правильное отображение в IE.
 */

main {
 display: block;
}

/**
 * 1. Исправьте наследование и масштабирование размера шрифта во всех браузерах.
 * 2. Исправьте нестандартный размер шрифта `em` во всех браузерах. 
 */

pre {
 font-family: monospace, monospace; /* 1 */
 font-size: 1em; /* 2 */
}

/* Семантика на уровне текста
 * ========================================================================== */

/**
 * Удалите серый фон с активных ссылок в IE 10.
 */

a {
 background-color: transparent;
}

/**
 * Добавьте правильное оформление текста в Edge 18-, IE и Safari.
 */

abbr[title] {
 text-decoration: underline;
 text-decoration: underline dotted;
}

/**
 * Добавьте правильный шрифт в Chrome, Edge и Safari.
 */

b,
strong {
 font-weight: bolder;
}

/**
 * 1. Исправьте наследование и масштабирование размера шрифта во всех браузерах. 
 * 2. Исправьте нестандартный размер шрифта `em` во всех браузерах. 
 */

code,
kbd,
samp {
 font-family: monospace, monospace; /* 1 */
 font-size: 1em; /* 2 */
}

/**
 * Добавьте правильный размер шрифта для всех браузеров.
 */

small {
 font-size: 80%;
}

/* Встроенное содержимое
 * ========================================================================== */

/**
 * Добавьте корректное отображение в IE 9-.
 */

audio,
video {
 display: inline-block;
}

/**
 * Добавьте корректное отображение в iOS 4-7.
 */

audio:not([controls]) {
 display: none;
 height: 0;
}

/**
 * Убрать рамку вокруг изображений в ссылках в IE 10-.
 */

img {
 border-style: none;
}

/**
 * Скрыть переполнение в IE.
 */

svg:not(:root) {
 overflow: hidden;
}

/* Табличные данные
 * ========================================================================== */

/**
 * 1. Исправить наследование цвета границ таблицы во всех версиях Chrome, Edge и Safari.
 * 2. Убрать отступ текста в содержимом таблицы в Chrome, Edge и Safari.
 */

table {
 border-color: inherit; /* 1 */
 text-indent: 0; /* 2 */
}

/* Формы
 * ========================================================================== */

/**
 * Удалите поля вокруг элементов управления в Safari.
 */

button,
input,
select {
 margin: 0;
}

/**
 * 1. Отобразите переполнение в IE.
 * 2. Удалите наследование свойства text-transform в Edge 18-, Firefox и IE.
 */

button {
 overflow: visible; /* 1 */
 text-transform: none; /* 2 */
}

/**
 * Исправлена невозможность стилизовать кнопки в iOS и Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
 -webkit-appearance: button;
}

/**
 * Исправлены отступы в Firefox.
 */

fieldset {
 padding: 0,35em 0,75em 0,625em;
}

/**
 * Отображение переполнения в Edge 18 и IE.
 */

input {
 overflow: visible;
}

/**
 * 1. Исправление переноса текста в Edge 18 и IE.
 * 2. Исправить наследование цвета от элементов `fieldset` в IE.
 */

legend {
 box-sizing: border-box; /* 1 */
 color: inherit; /* 2 */
 display: table; /* 1 */
 max-width: 100%; /* 1 */
 white-space: normal; /* 1 */
}

/**
 * 1. Добавьте правильное отображение в Edge 18 и IE.
 * 2. Добавьте правильное вертикальное выравнивание в Chrome, Edge и Firefox.
 */

progress {
 display: inline-block; /* 1 */
 vertical-align: baseline; /* 2 */
}

/**
 * Удалите наследование свойства text-transform в Firefox.
 */

select {
 text-transform: none;
}

/**
 * 1. Убрать поля в Firefox и Safari.
 * 2. Убрать вертикальную полосу прокрутки по умолчанию в IE.
 */

textarea {
 margin: 0; /* 1 */
 overflow: auto; /* 2 */
}

/**
 * 1. Добавить правильные размеры полей в IE 10-.
 * 2. Удалите отступы в IE 10-.
 */

[type="checkbox"],
[type="radio"] {
 box-sizing: border-box; /* 1 */
 padding: 0; /* 2 */
}

/**
 * 1. Исправление странного поведения в Chrome, Edge и Safari.
 * 2. Исправление стиля контура в Safari.
 */

[type="search"] {
 -webkit-appearance: textfield; /* 1 */
 outline-offset: -2px; /* 2 */
}

/**
 * Исправляет стиль курсора кнопок увеличения и уменьшения в Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
 height: auto;
}

/**
 * Исправьте стиль текста в заполнителях в Chrome, Edge и Safari.
 */

::-webkit-input-placeholder {
 color: inherit;
 opacity: 0.54;
}

/**
 * Удалите внутренние отступы в Chrome, Edge и Safari на macOS.
 */

::-webkit-search-decoration {
 -webkit-appearance: none;
}

/**
 * 1. Устранить невозможность стилизовать кнопки загрузки в iOS и Safari.
 * 2. Изменить свойства шрифта на `inherit` в Safari.
 */

::-webkit-file-upload-button {
 -webkit-appearance: button; /* 1 */
 font: inherit; /* 2 */
}

/**
 * Удалите внутреннюю рамку и отступы контуров фокуса в Firefox.
 */

::-moz-focus-inner {
 border-style: none;
 padding: 0;
}

/**
 * Восстановите стили контуров фокуса, отмененные предыдущим правилом в Firefox.
 */

:-moz-focusring {
 outline: 1px dotted ButtonText;
}

/**
 * Удалите дополнительные стили :invalid в Firefox.
 */

:-moz-ui-invalid {
 box-shadow: none;
}

/* Интерактивный
 * ========================================================================== */

/*
 * Добавьте правильное отображение в Edge 18 и IE.
 */

details {
 display: block;
}

/*
 * Добавьте правильные стили для Edge 18-, IE и Safari.
 */

dialog {
 background-color: white;
 border: solid;
 color: black;
 display: block;
 height: -moz-fit-content;
 height: -webkit-fit-content;
 height: fit-content;
 left: 0;
 margin: auto;
 padding: 1em;
 position: absolute;
 right: 0;
 width: -moz-fit-content;
 width: -webkit-fit-content;
 width: fit-content;
}

dialog:not([open]) {
 display: none;
}

/*
 * Добавьте правильное отображение во всех браузерах. 
 */

summary {
 display: list-item;
}

/* Скрипты
 * ========================================================================== */

/**
 * Добавьте правильное отображение в IE 9-.
 */

canvas {
 display: inline-block;
}

/**
 * Добавьте правильное отображение в IE.
 */

template {
 display: none;
}

/* Взаимодействие с пользователем
 * ========================================================================== */

/**
 * Добавьте правильное отображение в IE 10-.
 */

[hidden] {
 display: none;
}